tests/runtests.sh.log
docs/html/
docs/latex/
docs/Doxyfile

/build/
/cmake_install.cmake
/CMakeCache.txt
/CMakeLists.txt.user*
/CMakeFiles
/config.local
/CTestTestfile.cmake
Makefile
/qtcreator-build/
*~
*.kate-swp
